//color
$clr-primary: #F9C001;
$clr-black: #4A4A4A;
$clr-white: #FFFFFF;
$clr-inactive: #9ca3af;

//font size
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.5rem;

// border radius
$rounded: 0.5rem;
$rounded-full: 999px;

//breakpoint
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 640px;