@import '@/styles/variables.module.scss';

.header {
  height: 60px;
  width: 100%;
  background-color: $clr-white;
  padding: 2rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.1);
}

.header_left {
  display: flex;
  gap: 2rem;
  flex: 1;

  & > h1 {
    color: $clr-primary;
    font-size: $text-lg;
  }
}

// .search {
//   flex: 1;
//   position: relative;
//   color: $clr-inactive;

//   & > svg {
//     position: absolute;
//     left: 0.5rem;
//     margin-top: 4px;
//   }

//   & > input {
//     width: 800px;
//     height: 30px;
//     padding-left: 2rem;
//     padding-right: 1rem;
//     background-color: $clr-white;
//     border: 1px solid $clr-inactive;
//     border-radius: $rounded;
//   }
// }

.basket {
  position: relative;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 2rem;

  & > span {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-black;
    font-weight: 600;
    background-color: $clr-primary;
    height: 20px;
    min-width: 20px;
    border-radius: $rounded-full;
    font-size: $text-xs;
    padding: 0px 4px;
  }
}