@import '@/styles/variables.scss';

.product {
  padding: 50px 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;

  h2 {
    font-size: $text-base;
    margin: 1rem 0;
  }
}

.contentContainer {
  display: flex;
  position: relative;
  gap: 3rem;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;

  & h1 {
    font-size: $text-lg;
  }
}

.store {
  padding: 2px 8px;
  background-color: $clr-primary;
  color: $clr-black;
  width: fit-content;
  border-radius: $rounded;
  font-weight: 600;
  font-size: $text-sm;
}

.price {
  font-size: $text-lg;
  font-weight: 700;

  &--strike {
    display: inline-block;
    text-decoration: line-through;
    color: $clr-inactive;
    margin-right: 8px;
    font-size: $text-lg;
  }
}

.stock {
  padding: 4px 8px;
  background-color: $clr-black;
  width: fit-content;
  border-radius: $rounded;
  color: $clr-primary;
  font-size: $text-sm;
  font-weight: 600;
  text-wrap: nowrap;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: $text-sm;

  & > svg {
    color: $clr-black;
  }
}

.description {
  margin: 3rem 0;
  & > div {
    color: $clr-black;
    font-size: $text-sm;
    line-height: 1.5rem;
  }
}

@media (max-width: 800px) {
  .contentContainer {
    flex-direction: column;
  }
}
